
:root {
  --background: #8d8383;
  --foreground: #171717;
    --new: #3c1053;}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  
  }
}

html,
body {

  padding: 0;
  color: white;

}

body {
   /* background: linear-gradient(to bottom, #8E0E00, #1f1c18); */
  font-family: 'montserrat' ,'Playfair Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.heading-font {
  font-family: 'montserrat', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
